html {
    max-height: 100%;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2em;
    width: 100%;
    height: 100%;
    background-color: #F2EDE6;
    max-height: 100%;
    overflow: hidden;
}

.mainViewStack{
    position: absolute;
    top: 85px;
    bottom: 0;
    left: 0;
    right: 0;
}

.contentView{ position: absolute; left: 0;right: 0;top: 0;bottom: 0; margin: 25px;}
.ui-widget{ position: relative; left: 0;right: 0;height: 90%}
.legend{  display: inline-block; border: 1px grey solid;padding: 0 0px 10px 0px;vertical-align: top;}
.legend h5{  background-color:grey;margin: 0 0 10px 0;padding: 5px}


/*  HEADER  */
header{ width: 100%; height: 110px; position:absolute; top:0px; left:0px; right:0px;overflow:hidden; }
.logo{ display:inline-block; margin: 10px; }
.acountbox{ display:inline-block; float:right; margin:20px; }
.acountbox p{ display:inline-block; }
.button_big{ margin-left:10px; padding:6px 12px; }

/*  TABBAR  */
.menu-top{ position: absolute;top: 0px; }
.menu-top ul{ margin: 10px 0 0 370px; }
.menu-top li{
    display:inline;
    font-weight:800;
    color: #615e5c;
    font-size:14px;
    line-height: 30px;
    padding: 10px 10px 10px 20px;
    background-color:#f8f3ec;
    margin-right: 5px;
}
.menu-top  a{cursor: pointer; font-weight:800; padding-right: 10px; color: #404040; }
.menu-top  a:hover{ cursor: pointer; text-decoration: none; color: #404040;}
.menu-top .selected{ background-color: white; color: #404040; padding-bottom: 14px;}
.menu-top .selected:hover{ background-color: white; cursor: default;}
.menu-top li:hover{ background-color: #f9f9f9; text-decoration: none; cursor: hand;}
.close {float: none;}


/*  MAIN MENU LEFT */
.menu-left{ position: absolute;  top: 45px;}
.menu-left ul{ margin: 0 }
.menu-left li{ list-style: none; line-height: 55px;width: 315px;background-color: #f9f9f9; margin-bottom: 5px;cursor: pointer; padding: 0px 15px; color: Background }
.menu-left li:hover{ background-color: #f8f3ec }
.menu-left .selected{ background-color:white;color: black;width: 320px;font-weight: bold}
.menu-left .selected:hover{ background-color:white}
.menu-left .menu-sub-title{ padding: 10px;margin: 0;font-weight: 800}


.content{background-color:#fff;position:absolute; top:45px; bottom:0px; left:350px; right:0px; overflow:auto;}


.right{ float: right;text-align: right;}
.inline{ display: inline; position: absolute;}
.bold{ font-weight: 800}

/* LOGIN PAGE */
.front-card{
    position: relative;
    top: 140px;
    /*padding: 40px;*/
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.front-welcome{
    height: 400px;
    width: 350px;
    position: absolute;
    top: 0;
    left: 0px;
}
.front-signin{
    height: 105px;
    width: 350px;
    position: absolute;
    top: 0;
    left: 400px;

}
.front-signup{
    height: 185px;
    width: 350px;
    position: absolute;
    top: 147px;
    left: 400px;
}

.placeholder{display: inline-block; width: 125px;}

.front-signup h2, .front-signin h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #777;
    text-shadow: 0 1px 0 rgba(255,255,255,.6);
}
.front-signin .remember, .front-signin .forgot, .front-signin .separator {
    font-size: 11px;
    line-height: 13px;
    color: #999;
    text-shadow: 0 1px 0 rgba(255,255,255,.6);
    display: inline-block;
}
.front-signin .remember span{ margin-left: 5px; padding-top: 13px; }
.remember-forgot{  margin-top: 10px; }
.front-signin .remember input[type="checkbox"]{  margin-top: 0; }
.loginFragment form{ margin: 0; }
.loginFragment .btn {  position: absolute;  right: 20px; bottom: 12px; width: 100px }
.loginFragment input {  border-radius: 3px !important; }


